li {
  list-style: none;
}
a {
  text-decoration: none;
}
footer {
  height: 328px;
  width: 1440px;
  background: #242424;
}
.footer-container-logo {
  margin-right: 122px;
}
.footer-container {
  padding: 64px 32px 16px;
  display: flex;
}

.footer-icons-list {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
}
.footer-icons-item {
  height: 44px;

  border-radius: 10px;
  border: 1px solid rgba(244, 244, 244, 0.1);
}
